@model List<string>
@{
    ViewBag.Title = "Tags";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mx-auto mt-3">
    <div class="mx-auto bg-white rounded-lg overflow-hidden shadow-md">
        <div class="p-6">
            <!-- Form Title -->
            <h2 class="text-xl font-bold mb-4">Tags</h2>
            <table class="table table-auto">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th scope="col" class="ab arz atl aud cgm">
                            <span class="t">Delete</span>
                        </th>
                    </tr>
                </thead>
                <tbody class="acc acg">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item</td>
                            <td><a href="/Home/DeleteTag/@item" class="ayg blh">Delete<span class="t"></span></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>